@import "_vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  /**/
  /**/
    /* ============  S - QUOTES  ============ */
  .quote-box
    .quote-inner
      top: 13%
      line-height: 1.5em
      font-size: 1.6em
      .q-autor
        margin-top: 1.8em
  .photo-box
    background-position: 50%



        /* ==========   S - REASONS  =========== */
  .s-title
    font-size: 2.5em
    margin-top: 1em

  .reasons-box
    margin-top: 5em

  .reasons
    padding: 2em
    height: 15em



          /* ==========  FOOTER  =========== */
  .my_footer
    font-size: 0.8em
    .subscribe
      width: 190px





/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  /**/
  //
  //
  /*===========  S - QUOTES ==============*/
  .quote-box
    .quote-inner
      top: 12%
      line-height: 1.5em
      font-size: 1.4em
      .q-autor
        margin-top: 1.4em






      /* ==========   S - REASONS  =========== */

  .reasons
    width: 50%
    font-size: 1em
    padding: 1.5em
    height: 15em
    h2
      font-size: 1.2em
    p
      line-height: 1.3em

      /* ==========  FOOTER  =========== */

  .my_footer
    //social icons
    .social
      flex-direction: column-reverse
      justify-content: center
      align-items: center
      height: auto
      .soc
        margin: 1em 0 0 0
        ul
          li
            line-height: 2em
            font-size: 2em
            &:not(:last-child)
              margin-right: 1.2em
      p
        margin: 1em 0 0.5em 0
        line-height: 3em


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  //
  //
  //  /* ==========  HEADER  =========== */
  .my_header
    padding: 5vw 15vw 0
    .hamburger
      margin-top: 2.2vw

  .close-nav
    right: 15vw
                  //hamburger menu
  #hamburger-menu
    font-size: 2.5em
    ul
      margin-top: 10vw
      margin-left: 15vw
      li
        height: 1.5em
        line-height: 1.5em



    /* ==========  HEADER SLIDER  =========== */

  .h__slide-1 /*== SLIDE 1 AND 3 ==*/
    .slide-1_content
      padding-right: 5vw
      h1
        font-size: 07em
      p
        font-size: 1.8em

  /*  SLIDE 2 AND 5 */
  .h__slide-2
    background-position:  right
    .slide-2_content
      margin: 25% 0 0 14%
      p
        font-size: 2em
      p:last-child
        font-size: 1.8em


      /* SLIDE 4 */
  .h__slide-4
    .slide-4_content
      p
        padding: 0.4em
        letter-spacing: 0.07em
        font-size: 1.8em



        /* ==========  S - QUOTES  =========== */
  .quote-box
    .quote-inner
      top: 9%
      line-height: 1.4em
      font-size: 1.3em
      .q-autor
        margin-top: 1.3em



    /* ==========   S - REASONS  =========== */
  .s-title
    font-size: 2.5em
    margin-top: 1.2em

  .reasons-box
    margin-top: 3em
    justify-content: center
  .reasons
    width: 80%
    font-size: 0.8em
    height: auto
    &:nth-child(2)
      margin-top: -1px
    &:nth-child(2n)
      margin-left: 0
    span
      margin-bottom: 1em

  .s-button
    font-size: 0.92em
    letter-spacing: 0.1em
    padding: 0.5em 1em
    margin: 3em auto 10vh

        /* ==========  S - QUOTE OF THE DAY  =========== */

    //block position in the grid
  .quote-day
    .quote-day_content
      p
        font-size: 2em


          /* ==========  FOOTER  =========== */

  .my_footer
    justify-content: space-between
    font-size: 0.7em
    .browse
      min-width: 40%
      margin-left: $default-margin
    .shop
      min-width: 25%
      margin-right: $default-margin
    .contact
      min-width: 40%
      margin-left: $default-margin




/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  ///* ==========  HEADER  =========== */
  .my_header
    .hamburger
      margin-top: 3.2vw
    .logo
      padding: 1em 1.1em
      a
        font-size: 1em

  #hamburger-menu
    font-size: 2.2em
    ul
      margin-top: 18vw
      margin-left: 20vw
      li
        height: 1.5em
        line-height: 1.5em


                    /* ==========  HEADER SLIDER  =========== */

  .h__slide-1 /*== SLIDE 1 AND 3 ==*/
    justify-content: center
    background-position: 20%
    .slide-1_content
      h1
        font-size: 5em
      p
        font-size: 1.5em
        letter-spacing: 0.1em


  /*  SLIDE 2 AND 5 */
  .h__slide-2
    background-position:  right
    .slide-2_content
      margin: 25% 0 0 14%
      p
        font-size: 2em
      p:last-child
        margin-top: 0.3em
        font-size: 1.8em


    /* SLIDE 4 */
  .h__slide-4
    .slide-4_content
      p
        padding: 0.5em 0.3em
        letter-spacing: 0.05em
        font-size: 1.6em




              /* ==========  S - QUOTES  =========== */
  .quote-box
    display: block
    width: 100%
    .quote-inner
      top: 25%
      line-height: 1.4em
      font-size: 1.2em
      width: 80%

      .q-autor
        margin-top: 2em

  .photo-box
    display: none
    background-position: 80%
    width: 100%


  .s-title
    font-size: 1.65em
    margin-top: 1.2em

  .reasons-box
    margin-top: 2.5em
  .reasons
    width: 100%
    font-size: 0.8em
    span
      margin-bottom: 1em

  .s-button
    font-size: 0.8em
    letter-spacing: 0.1em
    padding: 0.5em 0.8em
    margin: 2em auto 8vh

  /* ==========  S - QUOTE OF THE DAY  =========== */

  //block position in the grid
  .quote-day
    .quote-day_content
      p
        font-size: 1.5em
        &:last-child
          font-size: 0.9em
          margin-top: 1.7em


              /* ==========  FOOTER  =========== */

  .my_footer
    flex-direction: column
    flex-wrap: nowrap
    justify-content: center
    align-content: center
    .browse
      display: none
    .contact
      display: none
    .shop, .subscribe
      margin: 4em 0 0 25vw
      width: 50vw
      min-width: 250px
      h1
        margin-bottom: 1em
    .subscribe
      form
        input
          width: 80%
    .social
      .soc
        ul
          li:not(:last-child)
            margin-right: 0.8em
      p
        font-size: 0.7em





/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  #hamburger-menu
    font-size: 2em
    ul
      margin-top: 25vw
      margin-left: 12vw
      li
        height: 1.5em
        line-height: 1.5em



  /* ==========  HEADER SLIDER  =========== */
  .h__slide-1 /*== SLIDE 1 AND 3 ==*/
    justify-content: center
    .slide-1_content
      padding-left: 5vw

  /*  SLIDE 2 AND 5 */
  .h__slide-2
    background-position:  right

    .slide-2_content
      color: grey
      margin: 80% 0 0 8%

  /* SLIDE 4 */
  .h__slide-4
    .slide-4_content
      width: 80%
      p
        padding: 0.5em 0.3em
        letter-spacing: 0.08em
        font-size: 1.6em



    /* ==========  S - QUOTE OF THE DAY  =========== */

  //block position in the grid
  .quote-day
    .quote-day_content
      p
        font-size: 1.2em
        &:last-child
          font-size: 0.7em
